<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string></string>
	<key>UIAppFonts</key>
	<array>
		<string>gals-1/gt-walsheim-web.ttf</string>
		<string>gals-1/gt-walsheim-bold-web (1).ttf</string>
	</array>
</dict>
</plist>
